<h1>New orm</h1>

<% form_for(@orm) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :type_id %><br />
    <%= select("orm", "type_id", Type.all.collect {|t| [ t.name, t.id ] }, { :include_blank => true }) %>
  </p>

  <p>
    <%= f.label :source %><br />
    <%= f.text_area :source %>
  </p>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', orms_path %>
