<h1>New orm</h1>

<% form_for(@orm) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :source %><br />
    <%= f.text :source %>
  </p>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', orms_path %>
