<pre>
<%=h @parsed %>

<%=h @orm.source.slice(0, 500) %>...
</pre>

<img src="<%=@orm.url%>" />

<p>
  <%= link_to image_tag('https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif'), :action => 'checkout', :id => @orm.uuid %>
</p>
<pre>
kvz_1283093722_per@php.net
283098678
</pre>

<%= link_to 'Graph', @orm.url %> |
<%= link_to 'Edit', edit_orm_path(@orm) %> |
<%= link_to 'Back', orms_path %>
