<h2><%= @orm.payed ? 'ORM of your models' : 'Preview' %></h2>
<% if !@orm.payed %>
  <p>
    You are now looking at a preview graph. See if you like it.
  </p>
<% else %>
  <p>
    This graph has been payed for. You have 30 days to save this to your disk
    before we remove it.
  </p>
<% end %>


<div id="sidebar" class="clearfix">
  <% if !@orm.payed %>
    <%
      upgrade_url = {:action => 'checkout', :id => @orm.uuid}
    %>
    <p>
      <%= link_to 'Upgrade', upgrade_url %>
      For $ <%=@orm.price/100%> you will get a graph that
      <ul>
        <li>is scalable (.svg)</li>
        <li>is banner free</li>
        <li>can be distributed amongst as many collegues as you like</li>
      </ul>
    </p>
    <p>
      <%= link_to image_tag('https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif'), upgrade_url %>
    </p>
    <p>
      When the payment succeeds, you will be forwarded to a secret location with your updated graph.
      We will keep it around for 30 days so you can download it. After that we purge it.
    </p>
    <pre>
    kvz_1283093722_per@php.net
    283098678
    </pre>
  <% else %>
    <p>
      
    </p>
  <% end %>
</div>


<a href="<%=@orm.url%>"><img src="<%=@orm.url%>" /></a>

<pre>
  <%=h @parsed %>
  <%=h @orm.source.slice(0, 500) %>...
</pre>


<%= link_to 'Graph', @orm.url %> |
<%= link_to 'Edit', edit_orm_path(@orm) %> |
<%= link_to 'Back', orms_path %>

