<p>
  <b>Orm:</b>
  <%=h @payment.orm_id %>
</p>

<p>
  <b>Name:</b>
  <%=h @payment.name %>
</p>

<p>
  <b>Company:</b>
  <%=h @payment.company %>
</p>

<p>
  <b>Address1:</b>
  <%=h @payment.address1 %>
</p>

<p>
  <b>Address2:</b>
  <%=h @payment.address2 %>
</p>

<p>
  <b>City:</b>
  <%=h @payment.city %>
</p>

<p>
  <b>State:</b>
  <%=h @payment.state %>
</p>

<p>
  <b>Country:</b>
  <%=h @payment.country %>
</p>

<p>
  <b>Zip:</b>
  <%=h @payment.zip %>
</p>

<p>
  <b>Ip:</b>
  <%=h @payment.ip %>
</p>

<p>
  <b>Payer:</b>
  <%=h @payment.payer_id %>
</p>

<p>
  <b>Token:</b>
  <%=h @payment.token %>
</p>

<p>
  <b>Price:</b>
  <%=h @payment.price %>
</p>


<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>